// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#fff;
$menuActiveText:#fff;
$menuActiveBg:#29B6F6;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#3C516F;
$menuHover:#263445;

$subMenuBg:#2C384A;
$subMenuHover:#001528;

$sideBarWidth: 180px;

// table
$tableHeaderBg: #F0F5FB;

// dialog
$dialogHeaderBg: #F0F5FB;

// button
$btnBg: #1E88E5;
$btnHoverBg: #29B6F6;

$btnDefaultHover: #29B6F6;
$btnDefaultHoverBg: #fff;

// mediinfo-color
$primary: #1E88E5;
$deep-blue-1: #027ABB;
$light-blue: #29B6F6;
$light-blue-1: #94D4FF;
$light-blue-2: #c3e5fd;
$light-blue-3: #EAF3FF;
$light-blue-4: #F0F5FB;
$red: #F12933;
$light-red-1: #F56C6C;
$light-red-2: #FBE9E9;
$green: #52C41A;
$light-green: #5AD8A6;
$light-green-2: #E0F4F2;
$orange: #FF9900;
$light-orange: #F6BD16;
$white: #FFF;
$gray-form-border: #DDD;
$gray-f8: #F8F8F8;
$gray-e5: #E5E5E5;
$gray-ddd: #DDD;
$gray-999: #999;
$gray-666: #666;
$gray-555: #555;
$gray-333: #333;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
